.book-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.book-image {
  width: 110px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-card h2 {
  font-size: 22px;
  color: #1f2937;
}

.author {
  color: #6b7280;
}

.category {
  display: inline-block;
  color:rgb(43, 43, 240);
  font-weight: bold;
}